
.navbar{
    display: flex;
    justify-content: flex-end;

    padding: 20px 60px;
    margin-right: 10px;
  
    background-color: transparent;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
 }
.navbar a{

    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
 }

 .navbar a:hover{ color: rgb(214, 142, 142); }
 
.container{
display: flex;
align-items: stretch;
flex-direction: column;
height: 100vh;
width: 100vw;
background-image: linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://images.unsplash.com/photo-1671522635775-020f43518663?q=80&w=1026&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ; 
background-size: cover;
background-position: center;
 }
 .subheading{
    font-size: 25px;
    color: white;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
    height: 80vh; width: 100%; display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 200;

 }

 .btn{
    background-color: rgb(205, 121, 121);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    text-align: center;

 }
 .btn:hover{
    background-color: rgb(217, 53, 53);
 }
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    width: 100vw;
    color: white;
    font-weight: 200;

}
.categories h4{
    color: white;
}
.categories img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.categories :hover{
    transform: scale(1.1);
}


.main-categories{
    display: flex;
    background-image:linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?q=80&w=1189&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    padding: 20px;
    height: 120vh;
    text-align: center;
    width: 100vw;

}

.login-container{
    display: flex;
   
    height: 100vh;
    flex-direction: column; 
    background-image: linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://plus.unsplash.com/premium_photo-1661954531673-440d23a6eb79?q=80&w=996&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;
}

.forms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100%;
    align-items: center;
}

.forms form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-family: "Playwrite NZ Basic", cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.forms button{
    background-color: rgb(205, 121, 121);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    text-align: center;
    font-style: italic;
    border: none;
    color: white;
}
.forms a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
}
.forms button:hover{
    background-color: rgb(217, 53, 53);

}
.register-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    background-image: linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://images.unsplash.com/photo-1671522635775-020f43518663?q=80&w=1026&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ; 
    padding: 0px;
    align-items: center;
    border-radius: 10px;
    height: 100vh;
    width: auto;
    font-family: "Playwrite NZ Basic", cursive;
    
}
.register-container form{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-family: "Playwrite NZ Basic", cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.register-container button{
    background-color: rgb(205, 121, 121);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    text-align: center;
    font-style: italic;
    border: none;
    color: white;
}
.register-container button:hover{
    background-color: rgb(217, 53, 53);

}

.item-container{
     display: flex;
   
    height: 100vh;
    flex-direction: column; 
    background-image: linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://plus.unsplash.com/premium_photo-1661954531673-440d23a6eb79?q=80&w=996&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;

}

.display_container{
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://assets.vogue.com/photos/6352ccb841ea2bd565be085f/master/w_2560%2Cc_limit/GettyImages-1223580360.jpg'); 
    min-height: 150vh;
    text-align: center;
    width: 100vw;
    color: pink;
    background-size: cover;
}
.display_container h1{
    font-size: 40px;
    color: white;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
}
.display_container p{
    font-size: 20px;
    color: white;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
}
.display_content{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.display_items{
    background-color: rgb(217, 136, 136);
    opacity: 0.8;
    height: 500px;
    text-align: center;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    color: black;
}

.display_items img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display_content :hover{
    transform: scale(1.1);
}
.display_content button{
    background-color: rgb(200, 41, 41);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    text-align: center;
    font-style: italic;
    border: none;
    color: white;
}

table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th,td{
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.cart_info{
        background-image: linear-gradient(rgb(23, 21, 21) 0.3%, rgba(91, 47, 47, 0.5)99%), url('https://plus.unsplash.com/premium_photo-1661954531673-440d23a6eb79?q=80&w=996&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
        min-height: 100vh;
}
.cartbutton{
    background-color: rgb(205, 121, 121);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 13px;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 150px;
    margin: 20px auto;
}
.cartbutton:hover{
    background-color: rgb(217, 53, 53);
}
.cart_info button{
    background-color: rgb(215, 65, 65);
    padding: 10px 20px;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    color: rgb(252, 250, 250);
    border: none;
}
.cart_info button:hover{
    background-color: rgb(217, 53, 53);
}
.quantity_controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.quantity-controls form {
    display: inline-block;  
    margin: 10px;
}