<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

    ]<div class="display_container">
        <div class="navbar">

           <a th:href="@{/}">Home</a>
            <a th:href="@{/categories}">Categories</a>

</body>

</html>