<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spicy paradise categories</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main-categories">

         <div class="navbar">

           <a th:href="@{/}">Home</a>
            <a th:href="@{/about}">About</a>
            <a th:href="@{/categories}">Categories</a>

            <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Login</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/additem}">Insert Items</a>
            </div>    
        </div>

        
        <div class="categories">
            <div class="north-indian">
                <a th:href="@{categories/north-indian}">
                <img src="https://plus.unsplash.com/premium_photo-1712678280695-7525b7bf50d0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <h4>North Indian</h4>
            </div>
            <div class="sweets">
                <a th:href="@{categories/sweets}">

                <img src="https://images.unsplash.com/photo-1695568180070-8b5acead5cf4?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <h4>Sweets</h4>
            </div>


            <div class="south-indian">
                <a th:href="@{categories/south-indian}">

                <img src="https://images.unsplash.com/photo-1665660710687-b44c50751054?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <h4>South Indian</h4>
            </div>

            <div class="ice-creams">
                
                <a th:href="@{categories/ice-creams}">

                <img src="https://images.unsplash.com/photo-1633933358116-a27b902fad35?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <h4>Ice Creams</h4>
            </div>

            <div class="juices">
                <a th:href="@{categories/juices}">

                <img src="https://plus.unsplash.com/premium_photo-1663091544172-794c537af00c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <h4>Juices</h4>
            </div>

        </div>
    </div>

</body>

</html>