<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="login-container">
         <div class="navbar">

           <a th:href="@{/}">Home</a>
            <a th:href="@{/about}">About</a>
            <a th:href="@{/categories}">Categories</a>

            <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Login</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/additem}">Insert Item</a>
            </div>    
        </div>
        <div class="forms">
            <div class="admin">

                <div th:if="${message}" style="color:red; text-align:center; margin:10px;">
                <p th:text="${message}"></p>
                </div>
[]
                <div th:if="${error == 'true'}" style="color:red; text-align:center; margin:10px;">
                Invalid email or password. Please try again.
                </div>
        
                <form th:action="@{/login}" method="post">
                    <h2>Login</h2>
                    <label for="email" >Email</label>
                    <input type="email" name="email" placeholder="Enter email" required>
                    <br><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" required>
                    <br><br>
                    <button type="submit">Login</button>

                    <div style="margin-top: 15px; color: #545050;">
                        <span>Don't have an account?</span>
                        <a th:href="@{/register}">Register here</a>
                </form>
            </div>
        </div>
        
    </div>
</body>

</html>