<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="login-container">
        <div class="navbar">

            <a th:href="@{/}">Home</a>
            <a th:href="@{/about}">About</a>
            <a th:href="@{/categories}">Categories</a>
<a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </div>
        <div class="forms">
            <div class="admin">

                <div th:if="${error == 'true'}" style="color:red; text-align:center; margin:10px;">
                Invalid email or password. Please try again.
                </div>
        
                <form th:action="@{/adminlogin}" method="post">
                    <h2>Admin Login</h2>
                    <label for="adminemail" >Email</label>
                    <input type="email" name="adminemail" placeholder="Enter email" required>
                    <br><br>
                    <label for="adminpassword">Password</label>
                    <input type="password" name="adminpassword" placeholder="Password" required>
                    <br><br>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="user">
                <form th:action="@{/customerlogin}" method="post">
                    <h2>User Login</h2>
                    <label for="customeremail">Customer Email</label>
                    <input type="email" name="customeremail" placeholder="enter email" required>
                    <br><br>
                    <label for="customerpassword">Password</label>
                    <input type="password" name="customerpassword" nameplaceholder="Password" required>
                    <br><br>
                    <button type="submit">Login</button>
                </form>
                <a th:href="@{/register}">Click here to register</a>
            </div>
        </div>
        
    </div>
</body>

</html>